
header.header
  nav.nav
    .container.container--navbar
      a#nav__brand.nav__brand(href="/api/v1/auth/login") Passport Multiple Strategies
      ul.nav_el
        if user 
          li.nav__el.nav__el--cta-logout
            a(href="/api/v1/auth/logout") Logout
          li.nav__el.nav__el--profile
            a(href="/me")

              //- img.nav__user-img(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              span= user.firstName
        else
          li.nav__el.nav__el--cta
            a(href="/login") Login
          li.nav__el--cta
            a(href="/register") SignUp